html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

#container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

#sidebar {
    width: flex;
    background: var(--color-sidebar);
    padding: var(--spacing-medium);
    overflow-y: auto;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

#timeline-line {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 4px;
    background: var(--color-border-hover);
    transition: height 0.3s ease;
}

.timeline-entry {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: var(--spacing-small);
}

.timeline-dot {
    width: 12px;
    height: 12px;
    background: var(--color-accent);
    border-radius: 50%;
    position: absolute;
    left: -4px;
}

.timeline-button {
    padding: var(--spacing-small);
    background: var(--color-hover-transparent);
    border: none;
    text-align: left;
    color: var(--color-text);
    font-family: var(--font-secondary);
    border-radius: var(--border-radius);
    margin-left: 30px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.timeline-button:hover {
    background: var(--color-hover);
}

.timeline-button.active {
    background: var(--color-accent);
    color: var(--color-text-dark);
}

#changelog-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: var(--spacing-medium);
    background: var(--color-bg);
    color: var(--color-text);
    overflow-y: auto;
}

#changelog-content-wrapper {
    width: 80%;
    max-width: 1000px;
    background-color: var(--color-hover-transparent);
    padding: var(--spacing-medium);
    border-radius: var(--border-radius);
}

#changelog-content-wrapper h2 {
    font-family: var(--font-secondary);
}

#changelog-content-wrapper p strong {
    font-family: var(--font-secondary);
}

.changelog-entry {
    margin-bottom: var(--spacing-medium);
    padding: var(--spacing-small);
    background: var(--color-sidebar);
    border-radius: var(--border-radius);
}