/* contact popup */
#popup-background {
    display: none;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1001;
    justify-content: center;
    align-items: center;
}

#contact-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    font-family: var(--font-secondary);
}

.contact-content {
    background: var(--color-header-footer);
    padding: var(--spacing-medium);
    border-radius: var(--border-radius);
    width: 80%;
    max-width: 400px;
    position: relative;
}

.contact-content img {
    position: absolute;
    top: var(--spacing-small);
    right: var(--spacing-small);
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 2px solid var(--color-text);
}

.contact-content h3 {
    color: var(--color-text);
    margin-right: 70px;
    line-height: 0;
}

.contact-content ul {
    list-style-type: none;
    padding: 0;
}

.contact-content a {
    color: var(--color-text);
}

/* about popup */
#about-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    font-family: var(--font-secondary);
}

.about-content {
    background: var(--color-header-footer);
    padding: var(--spacing-medium);
    border-radius: var(--border-radius);
    width: 80%;
    max-width: 410px;
    position: relative;
}

.about-content h3 {
    color: var(--color-text);
    margin-right: 70px;
    line-height: 0;
}

.about-content h4 {
    color: var(--color-text);
    font-weight: 400;
    font-size: 16px;
}

.about-content h5 {
    color: var(--color-text);
    font-weight: 300;
    font-size: 16px;
}

.about-content ul {
    list-style-type: none;
    padding: 0;
}

/* popup close button */
#close-button {
    background-color: var(--color-danger);
    color: var(--color-text);
    border: none;
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
}

#close-button:hover {
    background-color: var(--color-danger-hover);
}

/* footer */
#footer {
    height: var(--footer-height);
    background: var(--color-header-footer);
    color: var(--color-text);
    padding: var(--spacing-small);
    text-align: center;
    bottom: 0;
    width: 100%;
    border-top: 2px solid var(--color-border);
    font-family: var(--font-secondary);
    font-weight: 600;
}

#footer a {
    color: var(--color-text);
    margin: 0 var(--spacing-small);
    text-decoration: none;
    font-size: 14px;
}

#footer a:hover {
    color: var(--color-accent);
}

/* counter */
#counter {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 4px;
}