body {
    margin: 0;
    padding: 0;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.popup-container {
    width: 40%;
    background: var(--color-sidebar);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.popup-image img {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.popup-content {
    padding: 20px;
    background: var(--color-sidebar);
    color: var(--color-text);
}

.popup-header {
    font-size: 2em;
    font-family: var(--font-secondary);
    font-weight: 600;
}

.popup-text {
    margin-top: 10px;
    font-size: 1em;
    margin-bottom: 40px;
    font-family: var(--font-body);
}

.popup-button {
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: flex;
    margin-top: 15px;
    padding: 10px 20px;
    font-family: var(--font-primary);
    font-weight: 600;
    background: var(--color-accent);
    color: var(--color-text-dark);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s ease;
}

.popup-button:hover {
    background: var(--color-accent-hover);
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}