@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.background-rotate {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    z-index: 0;
}

.background-rotate.active {
    opacity: 1;
}

.author {
    position: fixed;
    bottom: 8px;
    left: 8px;
    color: white;
    font-size: 18px;
    z-index: 10;
}

.overlay-top, .overlay-bottom {
    position: fixed;
    left: 0;
    width: 100%;
    height: 20%;
    pointer-events: none;
    z-index: 2;
}

.overlay-top {
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
}

.overlay-bottom {
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

.title-container {
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  z-index: 10;
}

.center-logo img {
  height: 48px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

.title-banner {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: white;
  opacity: 0.8;
}

.tip-box {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 800px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  font-family: sans-serif;
  text-align: center;
  z-index: 2;
}

.tip-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
}

.tip-text {
    font-size: 16px;
}
