
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.background, .background-rotate {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: 0;
  transition: opacity 1s ease-in-out;
}

.background-rotate {
  opacity: 0;
  pointer-events: none;
}

.background-rotate.active {
  opacity: 1;
}

.author {
  position: fixed;
  text-align: left;
  font-family: Arial, sans-serif;
  font-weight: bold;
  bottom: 8px;
  left: 8px;
  color: white;
  opacity: 1;
  font-size: 20px;
  z-index: 10;
}

.overlay-top, .overlay-bottom {
  position: fixed;
  left: 0;
  width: 100%;
  height: 20%;
  pointer-events: none;
  z-index: 2;
}

.overlay-top {
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
}

.overlay-bottom {
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

.title-container {
  position: fixed;
  top: 2%;
  left: 1%;
  display: flex;
  align-items: center;
  z-index: 10;
  pointer-events: none;
}

.center-logo {
  opacity: 1;
}

.center-logo img {
  width: 70px;
  height: auto;
}

.title-banner {
  font-family: Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: white;
  margin-left: 10px;
}

.tip-box {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: Arial, sans-serif;
  text-align: center;
  width: 90%;
  max-width: 600px;
  z-index: 2;
}

.tip-title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
}

.tip-text {
  font-size: 18px;
}