:root {
    --font-primary: 'Sono', serif;
    --font-secondary: 'Jost', serif;
    --color-bg: #121212;
    --color-header-footer: #333;
    --color-sidebar: #222;
    --color-border: #44444400;
    --color-border-hover: #444;
    --color-hover-gradient: linear-gradient(to right, #d12d9c, #f25f30, #5ea2ef);
    --color-grey-gradient: linear-gradient(to right, #111111 #111111 ##111111 #111111);
    --color-text: #fff;
    --color-text-dark: #121212;
    --color-hover: #444;
    --color-hover-transparent: #444444ca;
    --color-hover-dark: #555;
    --color-danger: red;
    --color-danger-hover: rgb(160, 0, 0);
    --color-accent: #f3b447;
    --color-accent-dark: #181818;
    --color-steam: #1A9FFF;
    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 50px;
    --spacing-nested: 38px;
    --spacing-folders: 5px;
    --border-radius: 10px;
    --sidebar-width: 340px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
    background: var(--color-bg);
    color: var(--color-text);
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px var(--spacing-medium);
    background: var(--color-header-footer);
    color: var(--color-text);
    font-size: 28px;
    border-bottom: 2px solid var(--color-border);
    font-family: var(--font-secondary);
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 10;
}
#header-subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 0.8;
}

/* mobile device warning */
#mobile-warning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    font-family: var(--font-secondary);
}

.mobile-warning-content {
    background: var(--color-header-footer);
    padding: var(--spacing-medium);
    border-radius: var(--border-radius);
    width: 80%;
    max-width: 400px;
    position: relative;
    text-align: center;
    color: var(--color-text);
}

.mobile-warning-content p {
    margin-bottom: var(--spacing-medium);
}

#mobile-warning button {
    background-color: var(--color-danger);
    color: var(--color-text);
    border: none;
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
    position: flex;
    bottom: var(--spacing-small);
    right: var(--spacing-small);
}

#mobile-warning button:hover {
    background-color: var(--color-danger-hover);
}

/* text based pages */
#container-text {
    display: flex;
    flex: 1;
    padding-left: 2%;
}
#text h1 {
    font-family: var(--font-secondary);
}
#text h2 {
    font-family: var(--font-secondary);
}

/* sidebar */
#container {
    display: flex;
    flex: 1;
    overflow-y: auto;
}

#sidebar {
    width: var(--sidebar-width);
    min-width: 200px;
    background: var(--color-sidebar);
    padding: var(--spacing-small);
    overflow-y: auto;
    position: sticky;
    top: 0;
    z-index: 5;
}

.folder {
    cursor: pointer;
    padding: var(--spacing-folders);
    display: block;
    position: relative;
    border-radius: var(--border-radius);
    transition: background .2s;
}
.folder:hover, .folder.active {
    background: var(--color-hover);
}
.folder.parent-folder:hover {
    background: var(--color-hover-dark);
}

.nested {
    display: none;
    padding-left: var(--spacing-nested);
}
.expanded > .nested {
    display: block;
}

/* image container */
#image-container {
    flex: 1;
    flex-wrap: wrap;
    padding: var(--spacing-small);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

img {
    max-width: 600px;
    max-height: 200px;
    margin: var(--spacing-small);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: border .2s;
}

img:hover {
    border: 1px solid var(--color-border-hover);
}

/* image preview */
#image-preview {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.preview-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 90%;
    max-height: 90%;
}

#preview-img {
    max-width: 90%;
    max-height: 80vh;
    border-radius: var(--border-radius);
    border: 0px;
}

#preview-img:hover {
    border: 0px;
}

#image-preview .close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--color-text);
    font-size: 64px;
    cursor: pointer;
    z-index: 1001;
}