body {
    display: flex;
    flex-direction: column;
    font-family: 'Sono', serif;
    background: #121212;
    color: #fff;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    background: #333;
    color: white;
    font-size: 28px;
    border-bottom: 2px solid #444;
    font-family: "Jost", serif;
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 10;
}
#header-subtitle{
    font-weight: 400;
    letter-spacing: 1.7rem;
}

/* sidebar */
#container {
    display: flex;
    flex: 1;
    overflow-y: auto;
}
#sidebar {
    width: 340px;
    background: #222;
    padding: 10px;
    overflow-y: auto;
    display: block;
    position: sticky;
    top: 0;
    z-index: 5;
}
.folder {
    cursor: pointer;
    padding: 5px;
    display: block;
    position: relative;
    border-radius: 5px;
}
.folder:hover, .folder.active {
    background: #444;
    border-radius: 5px;
}
.folder.parent-folder:hover {
    background: #555;
}
.folder-icon {
    margin-right: 0px;
}
.toggle-button {
    cursor: pointer;
    margin-right: 5px;
    user-select: none;
}
.nested {
    display: none;
    padding-left: 50px;
}
.expanded > .nested {
    display: block;
}

/* images */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 90%;
    max-height: 90%;
}
#image-container {
    flex: 1;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 0 8px 8px 0;
}
img {
    max-width: 600px;
    max-height: 200px;
    margin: 10px;
    border: 1px solid #303030;
    border-radius: 10px;
    cursor: pointer;
}

/* image preview */
#image-preview {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}
.preview-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 90%;
    max-height: 90%;
}
#preview-img {
    max-width: 90%;
    max-height: 80vh;
    border-radius: 10px;
}
.image-description {
    margin-top: 15px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    max-width: flex;
    text-align: center;
    display: none;
}

#image-preview .close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 64px;
    cursor: pointer;
    z-index: 1001;
}

/* contact form */
#contact-popup {
    font-family: "Jost", serif;
}
#close-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#close-button:hover {
    background-color: rgb(160, 0, 0);
}

/* footer */
#footer {
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #444;
    box-sizing: border-box;
    font-family: "Jost", serif;
    font-weight: 600;
}
#footer a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 14px;
}
#footer a:hover {
    text-decoration: underline;
}